<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.firstdemo.mapper.PropertyTypeMapper">
    <resultMap id="BaseResultMap" type="com.example.firstdemo.pojo.PropertyType">
        <id column="property_type_id" jdbcType="INTEGER" property="propertyTypeId" />
        <result column="property_type_name" jdbcType="VARCHAR" property="propertyTypeName" />
    </resultMap>

    <!-- 查询全部 -->
    <select id="findList" resultMap="BaseResultMap">
        SELECT
            *
        FROM
          property_type
        order by
          property_type_id
    </select>

    <!-- 新增数据 -->
    <insert id="create" useGeneratedKeys="true" keyProperty="property_type_id">
        INSERT INTO
          property_type (property_type_name)
        VALUES
          (#{propertyTypeName})
    </insert>

    <!-- 根据Id修改 -->
    <update id="updateById">
        update
          property_type
        set
          property_type_name=#{propertyTypeName}
        where
          property_type_id = #{propertyTypeId}
    </update>

    <!-- 根据ids删除 -->
    <delete id="deleteByIds" parameterType="java.util.List">
        delete from
          property_type
        where
          property_type_id
        in
            <foreach collection="list" item="propertyTypeId" open="(" separator="," close=")">
                #{propertyTypeId}
            </foreach>
    </delete>

</mapper>