<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.firstdemo.mapper.RepositoryDetailsMapper">
  <resultMap id="BaseResultMap" type="com.example.firstdemo.pojo.RepositoryDetails">
    <id column="repository_details_id" jdbcType="INTEGER" property="id" />
    <result column="repository_id" jdbcType="INTEGER" property="repositoryId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_id" jdbcType="INTEGER" property="updateId" />
    <result column="opt_count" jdbcType="INTEGER" property="optCount" />
  </resultMap>

  <select id="findAll" resultMap="BaseResultMap">
    SELECT * FROM RepositoryDetails
  </select>

  <insert id="create" parameterType="RepositoryDetails" useGeneratedKeys="true" keyProperty="id">
        insert into repository_details(repository_id,content,update_time,update_id,opt_count)
        values(#{repositoryId},#{content},#{updateTime},#{updateId},#{optCount})
  </insert>

</mapper>